* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    /* border: 2px solid red; */
}
body {
    background-color: #F2E2CA;
}
header {
    padding: 1rem;
}
a {
    text-decoration: none;
    color: #051834;
    z-index: 100;
}
a:hover {
    text-decoration: underline;
}
h1 {
    text-align: center;
    font-size: 7em;
    font-weight: 1000;
}
h2 {
    font-size: 2rem;
}
#h2-mod {
    text-align: center;
    font-size: 2.8rem; 
    line-height: 0%; 
    font-weight: bold;
}
#p-mod {
    font-size: 0.8rem;
}
h3 {
    font-size: 1rem;
}
.cloud {
    position: absolute;
    z-index: 10;
}
#cloud1 {
    right: 140px;
    top: 43px;
}
#cloud2 {
    right: 270px;
    top: 75px;
}
#cloud3 {
    right: 60px;
    top: 123px;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#boxes {
    width: 50%;
    height: 100vh;
    position: relative;
    /* z-index: 0; */
}
.big-box {
    position: absolute;
    border: 4px solid #051834;
    width: 100%;
    aspect-ratio: 14/9;
}
#box1 {
    top: 5rem;
    background-color: #C6C1FC;
    z-index: 0;
}
#box2 {
    top: 3rem;
    left: 2rem;
    background-color: #C8E084;
    z-index: 1;
}
#box3 {
    top: 1rem;
    left: 4rem;
    background-color: #EFC9AD;
    z-index: 5;
    display: flex;
}
#box3 > #innerBoxLeft {
    display: flex;
    flex: 2.5;
    flex-direction: column;
}
#box3 > #innerBoxRight {
    display: flex;
    flex: 1;
    flex-direction: column;
}
#innerBoxLeftTop {
    background-color: #EFC9AD;
    border: 3px solid #051834;
    flex: 2;
}
#innerBoxLeftBot {
    background-color: #EAFBFA;
    border: 3px solid #051834;
    flex: 1;
    padding: 15px;
}
#innerBoxRight1 {
    flex: 1;
    background-color: #ADEFC8;
    border: 3px solid #051834;
}
#innerBoxRight2 {
    flex: 1;
    background-color: #E4C1E3;
    border: 3px solid #051834;
}
#innerBoxRight3 {
    flex: 1;
    background-color: #A3A6E1;
    border: 3px solid #051834;
}
section {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}
#problem-statement {
    background-color: #ADEFC8;
}
#user-research {
    background-color: #c6c1fc;
}
#scope {
    background-color: #efc9ad;
}
#systems-design {
    background-color: #e4c1e3;
}
#user-flow {
    background-color: #a3a6e1;
}
#prototype {
    background-color: #df8a6f;
}
@media (max-width: 1200px) {
    #boxes {
        width: 80%;
        top: 10rem;
    }
    .big-box {
        width: 590px;
    }
}
@media (max-width:800px) {
    header  {
        display: none;
    }
    #boxes {
        top: 13rem;
        width: 90%;
    }
    #p-mod {
        font-size: 1rem;
    }
    #box1, #box2 {
        display: none;
    }
    #box3 {
        border: 4px solid #051834;
        height: 400px;
        width: 100%;
        left: 0px;
    }
    h1 {
        font-size: 3rem;
    }
    #h2-mod {
        font-size: 1.5rem;
    }
}